
########################## READ BEFORE EDITING #########################
# Take note of the following:
#  1) Any line containing a '#' will be ignored
#     - Note that this means you cannot put comments at the end of the line!
#  2) Separate a field and its value by ":"
#  3) For booleans, use an interger: false==0, true==1
#  4) For paths, they will be expanded, so please always specify with respect to $ROOTCOREBIN env
########################################################################

#
# DxAOD Kernel name: This specifies which Bookkeeper data to extract
# and ultimately will be used to normalize the samples to the total sum of weights
#
DxAODKernel : SUSY16KernelSkim

#
# Paths specific to SusySkimHiggsino
#
SysFileDir         : SusySkimHiggsino/systematics/
GroupSetDir        : SusySkimHiggsino/samples/
SusyToolsConfigDir : SusySkimHiggsino/SUSYTools/

SusyToolsConfigFile : SusySkimHiggsino/SUSYTools/SUSYTools_SusySkimHiggsino_Default.conf

#
# Pile-up reweighting information
#
LumiCalc : /cvmfs/atlas.cern.ch/repo/sw/database/GroupData/GoodRunsLists/data15_13TeV/20170619/PHYS_StandardGRL_All_Good_25ns_276262-284484_OflLumi-13TeV-008.root
LumiCalc : /cvmfs/atlas.cern.ch/repo/sw/database/GroupData/GoodRunsLists/data16_13TeV/20180129/PHYS_StandardGRL_All_Good_25ns_297730-311481_OflLumi-13TeV-009.root
#LumiCalc : /cvmfs/atlas.cern.ch/repo/sw/database/GroupData/GoodRunsLists/data17_13TeV/20171130/physics_25ns_Triggerno17e33prim.lumicalc.OflLumi-13TeV-001.root

# Shut off PRW
DisablePRW : 0

# Use SUSYTools automagic PRW configuration
UseAutoMagicPRW : 1

# Ignore the GRL
IgnoreGRL : 0

#
# Good run list information
#
Grl : /cvmfs/atlas.cern.ch/repo/sw/database/GroupData/GoodRunsLists/data15_13TeV/20170619/data15_13TeV.periodAllYear_DetStatus-v89-pro21-02_Unknown_PHYS_StandardGRL_All_Good_25ns.xml
Grl : /cvmfs/atlas.cern.ch/repo/sw/database/GroupData/GoodRunsLists/data16_13TeV/20180129/data16_13TeV.periodAllYear_DetStatus-v89-pro21-01_DQDefects-00-02-04_PHYS_StandardGRL_All_Good_25ns.xml
Grl : /cvmfs/atlas.cern.ch/repo/sw/database/GroupData/GoodRunsLists/data17_13TeV/20171130/data17_13TeV.periodAllYear_DetStatus-v97-pro21-13_Unknown_PHYS_StandardGRL_All_Good_25ns_Triggerno17e33prim.xml

#
# Cross section path
#
CrossSection : SUSYTools/mc15_13TeV/

#
# MET Rebuilding, true or false
#
ExcludeAdditionalLeptons : 0

#
# Filtering options
#
FilterBaseline     : 1
FilterOR           : 0
SkimNLeptons       : 2
DoSampleOR         : 0
DoSampleORZjetZgam : 0

# Options for building MET
UsePhotonsInMET    : 1
UseTausInMET       : 0

# Data specific filtering
RequireTrigInData : 1
RequireGRL : 1

# Misc configurations
#
UnitsFromMEV        : 0.001
SaveTruthInfo       : 1
WriteDetailedSkim   : 0
UseNearbyLepIsoCorr : 1

#
# Scale factor control
DoTriggerSFs : 1

#
# Tool verbosity
# VERBOSE = 1, DEBUG = 2, INFO = 3, WARNING = 4, ERROR = 5
#
TrigMatchToolVerbosity : 5
SUSYToolsVerbosity : 5

# Truth level configurations
#
EmulateTruthBtagging : 1

#
# LHE3 Weights (for samples where appropriate)
#
WriteLHE3 : 0

# Enable tracks
#
SaveTracks : 1
